# ignore ALL .log files
*.log

.gitignore_files/

# ignore ALL files in ANY directory named temp
temp/
.ipynb_checkpoints/
logs/
__pycache__/

*.*~

*.xls
*.npy
*.h5

*.lbl

audio/
server_env/

node_modules/
